body {
    font-family: American Typewriter, serif;
    background-color: white;
    padding: 20px;
    color: #101935;
    /*background-image: url(backgroundImage.png); */
    display:grid;
    grid-template:  "nav        top       search"
                    "headlines  buttons   trending"
                    "headlines  graph     trending"
                    "headlines  time      trending"
                    "headlines  info      trending"
                    "headlines  overview  trending";
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 9% 50% 10% 10% 10% ;
                    
}

[id = "logo"]{
    grid-area: top; 
    text-align:center;
}
a{
    text-decoration: none;
    color:#101935;
}

#logo img{
    width:50%;
    height:50%;
    margin:none;
}

[id = "search"]{
    grid-area: search;
    text-align: right;
    padding: 10px;
    font-size: 16px;
}

#search input{
    border-radius: 10px;
    border:none;
    text-align:left;
}

#search button{
    font-size: 12px;
    padding:6px;
}

[id = "submit-button"]{
    padding: 10px;
    font-size: 16px;
}

[id = "trend-buttons"]{
    grid-area: buttons;
    text-align: center;
}

[id = "graph"]{
    grid-area: graph;
    text-align: center;
}

[id = "headlines"]{
    grid-area: headlines;
    text-align: center;
}

[id = "trending"]{
    grid-area: trending;
    text-align: center;
}

[id = "time-buttons"]{
    grid-area: time;
    text-align: center;
    display:inline;
}
[id = "info"]{
    grid-area: info;
    text-align: center;
}

[id = "overview"]{
    grid-area: overview;
    text-align: center;
}

#logo img {
    width:30%;
    height:auto;
    margin-bottom: 10%;
}

button{
    font-family: American Typewriter, serif;
    background-color:#F2FDFF;
    color:black;
    border-color: black;
    padding: 10px;
    float:center;
}