body {
    /*background-image: url(backgroundImage.png); */
    display:grid;
    grid-template:  "top        top       top"
                    "nav        nav       nav"
                    "buttons    buttons   buttons"
                    "headlines  graph     trending"
                    "headlines  time      trending"
                    "headlines  info      trending"
                    "headlines  overview  trending";
}

[id = "logo"]{
    grid-area: top; 
    text-align: center;
    margin: auto;   

}

[id = "search"]{
    grid-area: nav;
    text-align: right;
}

[id = "trend buttons"]{
    grid-area: buttons;
    text-align: center;
}

[id = "graph"]{
    grid-area: graph;
    text-align: center;
}

[id = "headlines"]{
    grid-area: headlines;
    text-align: center;
}

[id = "trending"]{
    grid-area: trending;
    text-align: center;
}

[id = "time buttons"]{
    grid-area: time;
    text-align: center;
}
[id = "info"]{
    grid-area: info;
    text-align: center;
}

[id = "overview"]{
    grid-area: overview;
    text-align: center;
}