<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>News Page</title>
        <link href="{{ url_for('static', filename='news.css') }}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id = "logo">
            <a href = "home.html"><img src="BearWatchLogo.png" alt="BearWatch Logo"></a>
        </div>
        <div id = "newsHeadline">
            <h2>News</h2>
        </div>
        <div id = "search">
            <form id="search-form" action="/" method="GET">
                <input id="stock-input" name="stock" type="text" placeholder="Enter category" required>
                <button type="submit">Search</button>
            </form>
        </div>
        <div id = "newsGrid"></div>
        <div id = "load">
            <button id = "loadMore">Load More...</button>
        </div>
        <script src="news.js"></script>
    </body>
</html>